<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Applicazione_GreenHouseDB.Properties.Settings.ProvaConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Prova;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="GreenHouse_App.Properties.Settings.ProvaConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Prova;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="GreenHouse_App.Properties.Settings.GreenhouseDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GreenhouseDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="GreenHouse_App.Properties.Settings.Greenhouse_DatabaseConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=&quot;Greenhouse Database&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>